{% extends 'carapp/base.html' %}
{% load static %}

{% block body_block %}
<div>
    <a href="{% url 'carapp:about' %}">About Us</a>
    &nbsp;|&nbsp;
    <a href="{% url 'carapp:search' %}">Search</a>
    &nbsp;|&nbsp;
    <a href="{% url 'carapp:groupdetails' %}">Team Details</a>
</div>
    <h3> Vehicles </h3>

<div>

<div><h5> Centra</h5><img src="{% static 'images/centra.jpg' %}" alt="Centra" width="300" height="200"></div>
<div><h5> Civic</h5> <img src="{% static 'images/civic.jpg' %}" alt="Civic" width="300" height="200"></div>
<div><h5> CLA</h5><img src="{% static 'images/CLA 250.jpg' %}" alt="CLA" width="300" height="200"></div>
<div><h5> Corolla</h5> <img src="{% static 'images/corolla.jpg' %}" alt="Corolla" width="300" height="200"></div>

</div>
{% endblock %}